graft resources
prune .git
prune .svn
prune build
prune dist
prune .idea
exclude *.egg-info
exclude *.iml
exclude *.txt
exclude README.md
exclude *.json
exclude .git*
recursive-include bzETL/util *.py
recursive-exclude . *.pyc
include README.txt
exclude MANIFEST.in



